<div class="container">
	<section id="events">
		<h1>Events</h1>
		<hr>
		<p>
			Throughout the year, CSUS runs a number of events for students, bridging the gap between the academic world and social life. In past years, we have organized events both on and off campus, including:
			<div class='row'>
				<div class='col s4'>
					<ul class="collection">
						<li class="collection-item">Laser tag</li>
						<li class="collection-item">Bowling night</li>
						<li class="collection-item">Pub nights</li>
						<li class="collection-item">Exam prep and review</li>
					</ul>
				</div>
			</div>
			By far, our most popular event is our annual Academic Colloquium, where students gather for an evening of talks presented by the department's leading researchers. Be sure to keep in touch with us to find out what we'll be doing next!
		</p>
		<img src="images/logo_transparent.png" class="csus-logo">
	</section>
</div>
