<div class="container">
	<section id="intro">
		<h1>Introduction</h1>
		<hr>
		<p>
			The Computer Science Undergraduate Society is the organization that represents all computer science students at <a href="http://www.uwo.ca/">Western University</a> in London, Ontario. As the oldest and most established computer science organization on campus, CSUS is run by students and for students.
		</p>
		<p>
			We work closely with the <a href="http://www.csd.uwo.ca/">Department of Computer Science</a> to promote computer science as an academic discipline, to connect students to related university services, and to provide methods of networking between students, faculty, and employers.
		</p>
	</section>
</div>
<div class="img-fullwidth">
	<img src="images/middlesex.jpg">
</div>
